.cardContainer {
	width: 31.33%;
	min-height: 220px;
	border: 1px solid #d4d5d9;
	background: #fff;
	border-radius: 3px;
	margin: 1%;
	box-shadow: 0 0 10px 1px #d4d5d9;
}

.cardTitle {
	height: 40px;
	line-height: 38px;
	border-bottom: 1px solid #d4d5d9;
	padding: 0 15px;
	font-weight: 700;
	position: relative;
}

.starIcon {
	position: absolute;
	right: 10px;
}

.cardInfoText {
	padding: 0 15px;
	min-height: 40px;
}

@media all and (max-width: 480px) {
	.cardContainer {
		width: 98%;
	}
}
